@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 1000px;
}

.content {
  margin-top: 20px;
}

.navbar {

}

.search-form {
  font-style: italic;
}

.auth-section {
  margin: auto;
  font-size: 14px;
  .sign-in {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: #36648B;
    &:hover {
      color: #4F94CD;
    }
  }

  .btn-outline {
    color: #262626;
    border-color: #36648B;
    font-size: 14px;
    &:hover {
      color: #4F94CD;
    }
  }
}

.footer {
  padding-top: 15px;
  font-size: 12px;
  color: #36648B;
  ul {
    padding-left: 0;
    > li {
      display: inline;
      padding-right: 15px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #4F94CD;
    }
  }
}
