
      <div class="container">

        <div class="logo">
          <a class="navbar-brand" href="<%= root_url %>">

          </a>
        </div>

        <div class="navbar navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               What is Lab? <span class="sr-only">(current)</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Feautres</a>
                <a class="dropdown-item" href="#">Design</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Support</a>
                <a class="dropdown-item" href="#">FAQs</a>
              </div>
            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>

        <div class="search-form m-outo">
          <form class="form-inline search-form my-2 my-lg-0" action="">
            <input class="form-control mr-sm-4" type="search" placeholder="search lab...">
          </form>
        </div>

        <div class="auth-section">
          <a class="sign-in" href="#">Sign in</a>
          <button class="btn btn-outline" type="button" name="button">Sign up</button>
        </div>

      </div>
